
.ld-custom-name {
    color:rgb(50,199,102);
}

.ld-custom-name:visited {
    color: rgb(121, 207, 151);
}

.ld-custom-button-container {
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    -webkit-transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    background-color:rgb(50,199,102);
    color: #fff;

}

.ld-custom-button-container:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background-color:transparent;
    color:rgb(50,199,102);
    border-radius: 25px;
    border: 2px solid rgb(50,199,102);
    padding: 20px;
}

.ld-custom-button {
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.ld-custom-background-layer {
    background: url(https://raw.githubusercontent.com/halisuyanik/my-portfolio-react-tailwindcss-graphql/main/public/Stars.svg);
    background-attachment: fixed;
    animation: stars-move-in 1000ms 300ms forwards;
}
@keyframes stars-move-in {
    from {
      background-position-y: -100px;
    }
    to {
      opacity: 1;
      background-position-y: 0;
    }
  }